.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0F6CBD;
  min-height: 4svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(5px + 2vmin);
  justify-content: left;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: fixed;
  /* Fix the position */
  top: 0;
  /* Stick it to the top */
  width: 100%;
  z-index: 1000000;
}

.content-wrapper {
  display: flex;
  /* Use flexbox for layout */
  padding-top: 4svh;
  /* Adjust this to match StickyHeader height */
}

.content {
  flex-grow: 0;
  /* Fill remaining space */
  padding-left: 2svh;
  /* Adjust this to match NavMenu width */
  padding-top: 0svh;
}

.content2 {
  flex-grow: 2;
  /* Fill remaining space */
  padding-left: 0svh;
  /* Adjust this to match NavMenu width */
  padding-top: 0svh;
}

.content3 {
  /* position: relative; */
  padding-left: 2svh;
  display: flex;
  flex-direction: column;
  /* width: 70%; */
  height: calc(100svh - 22svh);
}

.App-link {
  color: #185ABD;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root {
  background-color: rgba(225, 223, 221, 0.2);
}

.ms-Nav {
  border-radius: var(--None, 0px);
  background: var(--Neutral-Background-3-Rest, #F5F5F5);
  box-shadow: -5px 0px 8px 0px rgba(0, 0, 0, 0.03) inset;
  height: calc(100svh - 8svh);
  /* Adjust the height based on StickyHeader's height */
  margin-top: 0vh;
  /* Ensure the margin starts after the StickyHeader */
  padding-top: 4svh;
  z-index: 100;
  position: fixed;
  /* Make the element fixed */
  top: 0vh;
  /* Position it right after the StickyHeader */
  left: 0;
}

.ms-Grid-col {
  padding-left: 0;
  margin-left: 0;
}

.ms-Viewport {
  margin: 0 1.5%;
}

.ms-FocusZone {
  padding: 0;
}

.wrapper {
  max-width: 480px;
  margin: auto;
  background: #fff;
  margin-top: 50px;
  display: flex;
  /* Use flexbox */
  flex-direction: row;
  /* Arrange items horizontally */
  padding-left: 50px;
  /* Adjust this to create space for the fixed navbar */
  padding-right: 50px;
  padding-bottom: 50px;
}

.project-profile-pane {
  /* Example styles for the project profile pane */
  width: 250px;
  /* Adjust the width as needed */
  background-color: #FFFFFF;
  padding: 0px;
  height: calc(100svh - 7svh);
  border: 1px solid #ccc;
  /* border-radius: var(--None, 0px); */
  border-top: 1px solid var(--Edge-divider, #E0E0E0);
  border-right: 1px solid var(--Edge-divider, #E0E0E0);
  border-bottom: var(--None, 0px) solid var(--Edge-divider, #E0E0E0);
  border-left: var(--None, 0px) solid var(--Edge-divider, #E0E0E0);
  /* Add more styles for positioning and appearance */
  text-align: center;
  letter-spacing: -0.8px;
  line-height: 10px;
}

.project-details {
  /* Other project details styles */
  /* Left align the details */
  text-align: left;
}

.responsive-iframe {
  position: absolute;
  top: 1;
  left: 1;
  bottom: 1;
  right: 1;
  width: 82%;
  height: 80%;
}

.container {
  position: relative;
  overflow: hidden;
  width: 65%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}